- form_for @item do |f|

  = f.error_messages

  %dl
    - if @item.attachments.any?
      %dt Already attached
      %dd
        %ul.taglist
          - @item.attachments.each do |file|
            %li
              #{file.url} #{link_to (icon 'cross_white')}
              = f.hidden_field :attachments, :id => "attachment_#{file.id}", |
                               :name => 'item[attachment_ids][]', :value => file.id |

    %dt= f.label :attachments, 'Currently unattached files'
    %dd= attachment_collection_select(f)

    %dd.notes Please select the files you wish to add to this item. You can select multiple files by holding down 'Ctrl' (Win) or 'Cmd' (Mac) while clicking.

    %dt &nbsp;
    %dd.buttons
      %button{ :type => 'submit' }
        = icon 'tick'
        Add selected files&hellip;
