- form_for @item do |f|

  = f.error_messages

  %dl
    %dt= f.label :item_type_id
    %dd= f.collection_select :item_type_id, ItemType.all, :id, :name, :prompt => "Choose one:" 
    
    %dd.notes Please select the most appropriate category for the item.

    %dt= f.label :description
    %dd= f.text_area :description, :class => 'short', :rows => 5
    %dd.notes Please write a short (< 50 words) description of the item.
    
    %dt &nbsp;
    %dd.buttons
      %button{ :type => 'submit' }
        = icon 'tick'
        OK