
- form_for @item do |f|

  = f.error_messages
  
  %p Please have a look at the item to see if it has a publication date.
  
  %dl
    %dt= f.label :publication_date
    %dd= f.text_field :publication_date, :class => 'datepicker'
    %dd.notes
      Accurate to:
      = f.radio_button :publication_date_precision, "day"
      Day
      = f.radio_button :publication_date_precision, "month"
      Month
      = f.radio_button :publication_date_precision, "year"
      Year
  
    %dt &nbsp;
    %dd.buttons
      %button.positive{ :type => 'submit' }
        = icon 'tick'
        OK
      
      %button.negative.skip{ :type => 'submit' }
        = icon 'help'
        No date on item