%meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
%title 
  ADC Archives
  
= stylesheet_link_tag 'blueprint/screen'
= stylesheet_link_tag 'blueprint/print', :media => 'print'
/[if lt IE 8]
  = stylesheet_link_tag 'blueprint/ie'

= stylesheet_link_tag 'screen'

= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery#{Rails.env == 'production' ? '.min' : ''}.js"
= javascript_include_tag application_javascripts, :cache => true

= yield_authenticity_token