%ul.tabbed
  %li= link_to "Description", item_form_path(@item, :description)
  %li= link_to "Publication date", item_form_path(@item, :publication_date)
  %li= link_to "Shows", item_form_path(@item, :shows)
  %li= link_to "People", item_form_path(@item, :people)
  %li= link_to "Organisations", item_form_path(@item, :organisations)