!!!
%html
  %head
    = render :partial => 'partials/head'
  
  %body
    .container
    
      #loginbar.span-24
        = render :partial => 'partials/login_bar'
    
      #header.span-24
    
        #title
          %h1= link_to "adc<span>archives</span>", root_path
      
      #navigation.span-24
        = render :partial => 'partials/navigation'
      
      - if show_sidebar?
      
        #main.span-18
          = yield
      
        #sidebar.span-5.prepend-1.last
          = render(:partial => "#{controller.controller_name}/sidebar")
      
      - else
        
        #main.span-24
          = yield
